# Dependencies
node_modules/

# Production builds
dist/

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test-err.txt
test-out.txt
.gesso_invoke/
*.bak

# OS junk
.DS_Store
Thumbs.db
